header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header__dictionary-img{
    height: 45px;
}

h1{
    padding-left: 0.75em;
    border-left: 2px solid #3b3b3b;
}




