.form--word-search{
    margin: 3em 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.form--word-search input{
    padding: 1em;
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: #d2d2d2;
}
.form--word-search button{
    position: absolute;
    right: 15px;
    bottom: 10px;
    background-color: transparent;
    border: none;
}
#button__img{
    width: 20px;
}

.word-info__word{
    letter-spacing: 2px;
    font-size: 3.5em;
    font-weight: 300;
}

.word-info__phonetic{
    font-size: 1.25em;
    letter-spacing: 2px;
    color: #2b6d66;
}

.container--meaning {
    position: relative;
    margin: 3em 0;
    padding: 3em 2em;
    border-top: 1px solid #d2d2d2;
}

.meaning__part-of-speech{
    position: absolute;
    padding-right: 1em;
    top: -10px;
    left: 0;
    background-color: #efefef;
    font-size: 1.25em;
    font-weight: 600;
}

.meaning__list{
    margin: 0 0 3em 3em;
    list-style: none;
}

.meaning__list li{
    margin: 1em 0;
    font-weight: 300;
}

.meaning__list li::before{
    content: '•';
    margin-right: 1em;
    color: #2b6d66;
}

.meaning__synonym{
    margin: 0.25em 0.25em;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    background-color: #2b6d6638;
    color: #2b6d66;
}


